#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  left: 0;
  position: fixed;
  right: 0;
  padding: 0 2em;
  top: 0;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height:  80px;
  width:  80px;
}

#nav-bar .header{
  float: left;
  font-size: 200%;
  padding-left: 10px;
  line-height: 80px;
}

.navbar-compose {
  background-color:#e6ffff;
  border-radius: 10px;
  border:1px solid black;
  color: #00a087;
  float:right;
  line-height: 24px;
  margin: 12px 0;
  padding: 16px 30px;
}

.navbar-compose:hover {
  background-color: white;
  cursor:pointer;
}